<%= form_for(@yeah) do |f| %>
  <% if @yeah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yeah.errors.count, "error") %> prohibited this yeah from being saved:</h2>

      <ul>
      <% @yeah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wtf %><br>
    <%= f.datetime_select :wtf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
