<h1>Listing yeahs</h1>

<table>
  <thead>
    <tr>
      <th>Wtf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yeahs.each do |yeah| %>
      <tr>
        <td><%= yeah.wtf %></td>
        <td><%= link_to 'Show', yeah %></td>
        <td><%= link_to 'Edit', edit_yeah_path(yeah) %></td>
        <td><%= link_to 'Destroy', yeah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yeah', new_yeah_path %>
